/* THE ROOT CSS */
:root {
    --title-color: #FF5722;
    --large-title-font-size: 48px;
    --medium-title-font-size: 38px;
    --small-title-font-size: 28px;
    --black-paragraph-color: #0F0400;
    --gray-paragraph-color: #667085;
    --large-paragraph-font-size: 16px;
    --small-paragraph-font-size: 14px;
    --button-font-size: 14px;
    --global-transform: translateY(-3px);
    --buttons-bacnkground-Color: #FF5722;
    --icons-color: #FF5722;
    --hover-color: #FF5722;
    --border-orange: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --buttons-text-color: #0F0400;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
    --background-color-hero-section-about-page: linear-gradient(98deg, #E0F7FF 0%, #FFE7BB 100%);
    --padding-to-make-button: 15px 24px;
    --margin-top-and-bottom-for-every-components: 100px 0px;
    --only-margin-top-for-every-components: 100px;
    --only-margin-bottom-for-every-components: 100px;
    --large-font-weight-for-titles: 48px;
    --large-font-weight-for-paragraph: 400px;
    --container-width-1920px-min-width: 50%;
    --container-width-1920px-max-width: 90%;
    --container-width-1400px-max-width: 90%;
    --container-width-992px-max-width: 70%;
    --container-width-768px-max-width: 80%;
    --container-width-576px-max-width: 90%;
    --container-width-400px-max-width: 95%;
    --container-width-300px-max-width: 97%;
}

.container-hero-section-home-page {
    width: 100%;
    height: auto;
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-content-home-page {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.title-of-the-section {
    color: var(--title-color);
    font-size: var(--large-title-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 55spx;
}

.paragraph-of-the-section {
    color: var(--black-paragraph-color);
    font-size: var(--large-paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.box-for-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Get-in-touch {
    color: var(--Get-in-touch-text-color);
    font-size: 14px;
    background-color: var(--mainColor);
    padding: 15px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.2s;
}

.Get-in-touch:hover {
    transform: translateY(-2px);
}

.making-elements-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.learn-more {
    color: var(--text-color);
    font-size: 14px;
    padding: 18px 10px 18px 32px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    transition: 0.2s;
}

.right-arrow {
    font-size: 20px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}

.making-elements-flex:hover,
.learn-more:hover {
    color: var(--hover-color);
}

/* STYLING THE IMAGE BOX THAT CONTAINS THE IMAGE OF THE SECTION  */
.image-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* THE IMAGE OF THE SECTION */
.image-of-the-hero-section {
    width: 330px;
    height: 400px;
}

/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .container-content-home-page {
        width: 50%;
    }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
    .container-content-home-page {
        width: 70%;
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .container-content-home-page {
        width: 90%;
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .container-content-home-page {
        width: 95%;
    }

    .title-of-the-section {
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }

    .paragraph-of-the-section {
        font-size: 14px;
    }

    .Get-in-touch {
        font-size: 14px;
        padding: 15px 20px;
    }

    .image-box {
        justify-content: center;
        margin-bottom: 60px;
    }

    .image-of-the-hero-section {
        width: 300px;
        height: 370px;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {

    .container-hero-section-home-page {
        width: 100%;
        padding: 15px 0px;
    }

    .container-content-home-page {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .image-box {
        width: 100%;
        justify-content: center;
    }

    .image-of-the-hero-section {
        width: 300px;
        height: 380px;
        order: 2;
    }

    .description-box {
        width: 100%;
        order: 1;
    }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .container-content-home-page {
        width: 90%;
    }

    .image-of-the-hero-section {
        width: 275px;
        height: 345px;
    }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
    .title-of-the-section {
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
    }

    .Get-in-touch {
        font-size: 14px;
        padding: 10px 6px;
    }

    .learn-more {
        padding: 10px 6px 10px 10px;
    }

    .image-of-the-hero-section {
        width: 200px;
        height: 250px;
    }

    .box-for-buttons {
        flex-direction: column;
    }

    .learn-more {
        padding: 18px 10px 18px 10px;
    }
}