/* THE ROOT CSS */
:root {
  --title-color: #ff5722;
  --1400px-max-width-title-font-size: 48px;
  --768px-max-width-title-font-size: 38px;
  --576px-max-width-title-font-size: 28px;
  --black-paragraph-color: #000000;
  --gray-paragraph-color: #667085;
  --large-font-size-paragraphs: 16px;
  --small-font-size-paragraphs: 14px;
  --buttons-bacnkground-Color: #ff5722;
  --button-Color: #ff5722;
  --hover-color: #ff5722;
  --buttons-text-color: #0f0400;
  --buttons-font-size: 14px;
  --padding-to-make-button: 15px 24px;
  --global-transform: translateY(-3px);
  --icons-color: #ff5722;
  --border-orange: #ff5722;
  --border-gray: #667085;
  --bg-white: #ffffff;
  --border-top-at-the-footer: #efefef;
  --container-footer: linear-gradient(
    180deg,
    #ffd8b4 0%,
    #fed9b7 57.29%,
    #fdd3ae 100%
  );
  --background-color-hero-section-about-page: linear-gradient(
    98deg,
    #e0f7ff 0%,
    #ffe7bb 100%
  );
  --margin-top-and-bottom-for-every-components: 100px 0px;
  --only-margin-top-for-every-components: 100px;
  --only-margin-bottom-for-every-components: 100px;
  --container-width-1920px-min-width: 50%;
  --container-width-1920px-max-width: 60%;
  --container-width-1400px-max-width: 85%;
  --container-width-992px-max-width: 70%;
  --container-width-768px-max-width: 80%;
  --container-width-576px-max-width: 90%;
  --container-width-400px-max-width: 95%;
  --container-width-300px-max-width: 100%;
}

.container-hero-section-home-page {
  width: 100%;
  height: auto;
  margin-bottom: var(--only-margin-bottom-for-every-components);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-content-home-page {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description-box {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.title-of-the-section {
  color: var(--title-color);
  font-size: var(--1400px-max-width-title-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 55spx;
}

.paragraph-of-the-section {
  color: var(--black-paragraph-color);
  font-size: var(--large-font-size-paragraphs);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.box-for-buttons-hero-section-home-page {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.downlaod-button-hero-section-home-page {
  color: var(--buttons-text-color);
  font-size: 14px;
  background-color: var(--buttons-bacnkground-Color);
  padding: 15px 24px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.2s;
}

.downlaod-button-hero-section-home-page:hover {
  transform: translateY(-2px);
}

.making-elements-flex-hero-section-home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.learn-more-hero-section-home-page {
  color: var(--text-color);
  font-size: 14px;
  padding: 7px 12px 7px 24px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.45px;
  transition: 0.2s;
}

.right-arrow-hero-section-home-page {
  font-size: 20px;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}

.making-elements-flex-hero-section-home-page:hover,
.learn-more-hero-section-home-page:hover {
  color: var(--hover-color);
}

/* STYLING THE IMAGE BOX THAT CONTAINS THE IMAGE OF THE SECTION  */
.image-box {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

/* THE IMAGE OF THE SECTION */
.image-of-the-hero-section {
  width: 330px;
  height: 400px;
}

/* Responsived in min width 1920px */
@media (min-width: 1920px) {
  .container-content-home-page {
    width: var(--container-width-1920px-min-width);
  }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
  .container-content-home-page {
    width: var(--container-width-1920px-max-width);
  }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
  .container-content-home-page {
    width: var(--container-width-1400px-max-width);
  }

  .title-of-the-section {
    font-size: var(--1400px-max-width-title-font-size);
  }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
  .container-content-home-page {
    width: var(--container-width-992px-max-width);
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
  }

  .image-box {
    width: 100%;
    justify-content: center;
  }

  .image-of-the-hero-section {
    width: 80%;
    height: 380px;
    order: 2;
  }

  .description-box {
    width: 100%;
    order: 1;
  }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
  .container-content-home-page {
    width: var(--container-width-768px-max-width);
  }

  .title-of-the-section {
    font-size: var(--768px-max-width-title-font-size);
  }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
  .container-content-home-page {
    width: var(--container-width-400px-max-width);
  }

  .title-of-the-section {
    font-size: var(--576px-max-width-title-font-size);
  }

  .image-of-the-hero-section {
    width: 275px;
    height: 345px;
  }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
  .container-content-home-page {
    width: var(--container-width-400px-max-width);
  }

  .image-of-the-hero-section {
    width: 200px;
    height: 250px;
  }

  .box-for-buttons-hero-section-home-page {
    flex-direction: column;
  }

  .learn-more-hero-section-home-page {
    padding: 15px 24px 15px 0;
  }
}

@media (max-width: 300px) {
  .container-content-home-page {
    width: var(--container-width-300px-max-width);
  }
}
