/* THE ROOT CSS */
:root {
    --title-color: #FF5722;
    --title-font-size: 48px;
    --buttons-font-size: 14px;
    --black-paragraph-color: #0F0400;
    --gray-paragraph-color: #667085;
    --paragraph-font-size: 16px;
    --global-transform: translateY(-3px);
    --buttons-bacnkground-Color: #FF5722;
    --icons-color: #FF5722;
    --hover-color: #FF5722;
    --border-orange: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --buttons-text-color: #0F0400;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
    --padding-to-make-button: 15px 24px;
    --margin-for-every-components: 100px 0px 100px 0px;
    --only-margin-for-every-components: 100px 0px 0px 0px;
    --large-font-weight-for-titles: 48px;
    --large-font-weight-for-paragraph: 400px;
    --container-width-1920px-min-width: 50%;
    --container-width-1920px-max-width: 70%;
    --container-width-1400px-max-width: 90%;
    --container-width-992px-max-width: 95%;
    --container-width-768px-max-width: 100%;
    --container-width-576px-max-width: 90%;
    --container-width-400px-max-width: 90%;
    --container-width-300px-max-width: 90%;
}