/* THE ROOT CSS */
:root {
    --title-color: #FF5722;
    --title-font-size: 48px;
    --buttons-font-size: 14px;
    --black-paragraph-color: #0F0400;
    --gray-paragraph-color: #667085;
    --paragraph-font-size: 16px;
    --small-font-size: 14px;
    --global-transform: translateY(-3px);
    --buttons-bacnkground-Color: #FF5722;
    --icons-color: #FF5722;
    --hover-color: #FF5722;
    --border-orange: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --font-color-content-our-leadership-team: #4E6770;
    --font-color-position-in-leader-ship-members: #4E6770;
    --buttons-text-color: #0F0400;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
    --background-color-hero-section-about-page: linear-gradient(98deg, #E0F7FF 0%, #FFE7BB 100%);
    --background-color-hero-section-about-our-team: linear-gradient(103deg, rgba(255, 231, 187, 0.54) 0%, rgba(181, 239, 232, 0.00) 44.57%, rgba(255, 231, 187, 0.54) 95.08%);
    --padding-to-make-button: 15px 24px;
    --margin-top-and-bottom-for-every-components: 100px 0px;
    --only-margin-top-for-every-components: 100px;
    --only-margin-bottom-for-every-components: 100px;
    --large-font-weight-for-titles: 48px;
    --large-font-weight-for-paragraph: 400px;
    --container-width-1920px-min-width: 50%;
    --container-width-1920px-max-width: 60%;
    --container-width-1400px-max-width: 85%;
    --container-width-992px-max-width: 70%;
    --container-width-768px-max-width: 80%;
    --container-width-576px-max-width: 90%;
    --container-width-400px-max-width: 97%;
}


.container-our-leader-shipteam-about-page {
    width: 100%;
    height: auto;
    margin: var(--margin-top-and-bottom-for-every-components);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-our-leader-shipteam-about-page {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-box-our-leader-shipteam-about-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-our-leadership-team {
    color: var(--font-color-content-our-leadership-team);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.title-our-leadership-team {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin: 10px 0px;
}

.team-members-info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 100px;
}

.first-row-info-box,
.second-row-info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.member-info-box {
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-member {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    flex-shrink: 0;
}

.member-name {
    color: var(--black-paragraph-color);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin: 5px 0px;
}

.member-position {
    color: var(--font-color-position-in-leader-ship-members);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.description-about-member {
    color: var(--font-color-position-in-leader-ship-members);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 5px 0px;
}



/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-1920px-min-width);
    }
}

@media (max-width: 1920px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-1920px-max-width);
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-1400px-max-width);
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-992px-max-width);
    }

    .first-row-info-box,
    .second-row-info-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        justify-content: space-between;
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }

    .member-info-box {
        width: 90%;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-768px-max-width);
    }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-576px-max-width);
    }

    .first-row-info-box,
    .second-row-info-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        justify-content: space-between;
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }

    .member-info-box {
        width: 80%;
    }
}


/* Responsived in max width 567px */
@media (max-width: 400px) {
    .content-our-leader-shipteam-about-page {
        width: var(--container-width-400px-max-width);
    }

    .title-our-leadership-team {
        font-size: 28px;
        line-height: 36px;
    }

    .member-info-box {
        width: 100%;
    }


}