/* THE ROOT CSS */
:root {
    --title-color: #FF5722;
    --title-font-size: 48px;
    --buttons-font-size: 14px;
    --black-paragraph-color: #0F0400;
    --gray-paragraph-color: #667085;
    --paragraph-font-size: 16px;
    --small-font-size: 14px;
    --global-transform: translateY(-3px);
    --buttons-bacnkground-Color: #FF5722;
    --icons-color: #FF5722;
    --hover-color: #FF5722;
    --border-orange: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --font-color-content-our-leadership-team: #4E6770;
    --font-color-position-in-leader-ship-members: #4E6770;
    --buttons-text-color: #0F0400;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
    --background-color-hero-section-about-page: linear-gradient(98deg, #E0F7FF 0%, #FFE7BB 100%);
    --background-color-hero-section-about-our-team: linear-gradient(103deg, rgba(255, 231, 187, 0.54) 0%, rgba(181, 239, 232, 0.00) 44.57%, rgba(255, 231, 187, 0.54) 95.08%);
    --background-color-hero-section-why-us-about-page: #FDFBEB;
    --padding-to-make-button: 15px 24px;
    --margin-top-and-bottom-for-every-components: 100px 0px;
    --only-margin-top-for-every-components: 100px;
    --only-margin-bottom-for-every-components: 100px;
    --large-font-weight-for-titles: 48px;
    --large-font-weight-for-paragraph: 400px;
    --container-width-1920px-min-width: 50%;
    --container-width-1920px-max-width: 60%;
    --container-width-1400px-max-width: 85%;
    --container-width-992px-max-width: 70%;
    --container-width-768px-max-width: 80%;
    --container-width-576px-max-width: 90%;
    --container-width-400px-max-width: 97%;
}

.container-description-why-us-page-about-page {
    width: 100%;
    height: auto;
    margin: var(--margin-top-and-bottom-for-every-components);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-description-why-us-page-about-page {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-box-description-why-us-page-about-page {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-of--description-why-us-page-about-page {
    width: 100%;
}

.description-description-why-us-page-about-page {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.badge-description-why-us-page-about-page {
    color: var(--black-paragraph-color);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.title-description-why-us-page-about-page {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 30px;
}

.paragraph-description-why-us-page-about-page {
    color: var(--black-paragraph-color);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-1920px-min-width);
    }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-1920px-max-width);
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-1400px-max-width);
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-992px-max-width);
        flex-direction: column;
        gap: 50px;
    }

    .description-description-why-us-page-about-page {
        width: 100%;
        gap: 10px;
        order: 2;
    }

    .image-box-description-why-us-page-about-page {
        width: 100%;
        order: 1;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-768px-max-width);
    }

    .title-description-why-us-page-about-page {
        font-size: 34px;
        line-height: 48px;
    }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-576px-max-width);
    }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
    .content-description-why-us-page-about-page {
        width: var(--container-width-400px-max-width);
    }

    .title-description-why-us-page-about-page {
        font-size: 28px;
        line-height: 38px;
    }
}