/* THE ROOT CSS */
:root {
    --title-color: #FF5722;
    --title-font-size: 48px;
    --buttons-font-size: 14px;
    --black-paragraph-color: #0F0400;
    --gray-paragraph-color: #667085;
    --paragraph-font-size: 16px;
    --small-font-size: 14px;
    --global-transform: translateY(-3px);
    --buttons-bacnkground-Color: #FF5722;
    --icons-color: #FF5722;
    --hover-color: #FF5722;
    --border-orange: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --buttons-text-color: #0F0400;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
    --background-color-hero-section-about-page: linear-gradient(98deg, #E0F7FF 0%, #FFE7BB 100%);
    --padding-to-make-button: 15px 24px;
    --margin-top-and-bottom-for-every-components: 100px 0px 100px 0px;
    --only-margin-top-for-every-components: 100px 0px 0px 0px;
    --only-margin-bottom-for-every-components: 0px 0px 100px 0px;
    --large-font-weight-for-titles: 48px;
    --large-font-weight-for-paragraph: 400px;
    --container-width-1920px-min-width: 50%;
    --container-width-1920px-max-width: 70%;
    --container-width-1400px-max-width: 90%;
    --container-width-992px-max-width: 95%;
    --container-width-768px-max-width: 100%;
    --container-width-576px-max-width: 90%;
    --container-width-400px-max-width: 99%;
    --container-width-300px-max-width: 99%;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-story-section-about-page {
    width: 100%;
    height: auto;
    margin: var(--margin-top-and-bottom-for-every-components);
    background: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-story-section-about-page {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.budge-box-about-page,
.title-box-about-page,
.paragraph-box-about-page {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budge-text-about-page {
    color: var(--black-paragraph-color);
    text-align: center;
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding: 20px 0px;
}

.title-text-about-page {
    color: var(--title-color);
    text-align: center;
    font-size: var(--title-font-size);
    font-style: normal;
    font-weight: var(--large-font-weight-for-titles);
    line-height: 56px;
    padding: 20px 0px;
}

.paragraph-about-page {
    color: var(--black-paragraph-color);
    text-align: center;
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0px;
}

.image-and-research-parts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.image-box-about-page {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-about-section {
    width: 300px;
    height: 400px;
    border-radius: 500px 500px 0px 0px;
}

.research-parts {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.research-content-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo-content {
    width: 82px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--divider, #C6C6C6);
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.description-research {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.date-of-research {
    color: var(--title-color);
    font-size: var(--paragraph-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 3px;
}


.title-of-the-research {
    color: var(--black-paragraph-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 3px;
}

.info-about-research {
    color: #000;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    padding-top: 3px;
}







/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .content-story-section-about-page {
        width: var(--container-width-1920px-min-width);
    }
}


@media (max-width: 1920px) {
    .content-story-section-about-page {
        width: var(--container-width-1920px-max-width);
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .content-story-section-about-page {
        width: var(--container-width-1400px-max-width);
    }
}

/* Responsived in max width 1200px */
@media (max-width: 1200px) {}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .content-story-section-about-page {
        width: var(--container-width-992px-max-width);
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
    .content-story-section-about-page {
        width: var(--container-width-768px-max-width);
    }

    .title-text-about-page {
        font-size: 38px;
        line-height: 46px;
    }

    .image-and-research-parts {
        flex-direction: column;
    }

    .image-box-about-page {
        width: 80%;
    }

    .image-about-section {
        width: 100%;
    }

    .research-parts {
        width: 80%;
    }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .content-story-section-about-page {
        width: var(--container-width-576px-max-width);
    }

    .title-text-about-page {
        font-size: 28px;
        line-height: 36px;
    }

    .image-box-about-page {
        width: 100%;
    }

    .research-parts {
        width: 100%;
    }

}


/* Responsived in max width 567px */
@media (max-width: 400px) {
    .content-story-section-about-page {
        width: var(--container-width-400px-max-width);
    }

    .title-text-about-page {
        font-size: 20px;
        line-height: 30px;
    }
}