/* THE ROOT CSS */
:root {
    --descriptions-font-size: 16px;
    --mainBackgroundColr: #ffffff;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --border-gray: #CDE2E7;
    --bg-white: #ffffff;
    --description-color: #667085;
    --border-top-at-the-footer: #EFEFEF;
    --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-footer {
    width: 100%;
    height: auto;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-footer)
}

.content-container-footer {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img-box-footer {
    width: 50%;
    height: 81vh;
    background: url(./assets/53117032fa56c3938e991f18895ca854.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0%;
    left: 0%;
}


.content-box-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.title-footer {
    color: var(--mainColor);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.description-footer {
    color: var(--text-color);
    font-size: var(--descriptions-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.sub-content-box-in-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linked-in-other-parts-of-the-page {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}


.first-column-home-and-contact-us,
.second-column-home-and-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.same-div-style {
    height: 27px;
    border-left: var(--mainColor) 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.logo-in-footer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-it-self {
    width: 105px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 85px;
}

.copyRight-and-social-media {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--border-top-at-the-footer);
}

.copyRight {
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.social-media-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}

.icons {
    color: var(--mainColor);
}


/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .content-container-footer {
        width: 60%;
        height: 60vh;
    }

    .content-box-footer {
        width: 50%;
        gap: 40px;
    }


}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
    .content-container-footer {
        width: 70%;
        height: 60vh;
    }

    .content-box-footer {
        width: 70%;
        gap: 10px;
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .content-container-footer {
        width: 80%;
        height: 65vh;
    }

    .content-box-footer {
        width: 100%;
        gap: 10px;
    }
}

/* Responsived in max width 1200px */
@media (max-width: 1200px) {
    .content-container-footer {
        width: 90%;
        height: 70vh;
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .content-container-footer {
        width: 90%;
        height: 70vh;
    }

    .img-box-footer {
        display: none;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .content-container-footer {
        width: 90%;
        height: 90vh;
    }

    .title-footer {
        font-size: 38px;
        line-height: 46px;
    }

    .sub-content-box-in-footer {
        flex-direction: column;
    }

    .linked-in-other-parts-of-the-page {
        width: 100%;
    }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
    .content-container-footer {
        width: 95%;
        height: 95vh;
    }

    .title-footer {
        font-size: 30px;
        line-height: 40px;
    }

    .copyRight-and-social-media {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }


    .social-media-icon {
        gap: 10px;
        margin-right: 0px;
    }
}

@media (max-width: 300px) {
    .content-container-footer {
        width: 95%;
        height: 110vh;
    }
}