/* RooTs for the navbar component */
/* roots makes it easy to bring changes */
:root {
    --mainBackgroundColr: #ffffff;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --badge-color: #FFD166
}

/* the contianer of the whole section */
.get-in-touch-section-home-page-container {
    width: 100%;
    height: auto;
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* styling the content box of get in touch section */
.get-in-touch-content-home-page {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* styling the image box */
.image-box-get-in-touch-content-home-page {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* image of the section */
.image-section-get-in-touch-content-home-page {
    width: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* styling box of the contents */
/* this box conains title, paragraph and buttons */
.description-box-get-in-touch-section-home-page {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    gap: 20px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* styling the badge in the start of the box content */
.description-badge-get-in-touch-section-home-page {
    color: var(--mainColor);
    background-color: var(--badge-color);
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px 6px 11px;
    border-radius: 4px;
    font-weight: 700;
    transition: 0.2s;
}

/* the hover effect for badge */
.description-badge-get-in-touch-section-home-page:hover {
    background-color: #06c390;
    cursor: pointer;
}

/* styling the title of the section */
.description-title-get-in-touch-section-home-page {
    color: var(--mainColor);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

/* styling the paragraph */
.description-paragraph-get-in-touch-section-home-page {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* STYLING THE DIV FOR TWO BUTTONS IN THE SECTION  */
.box-for-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* GET IN TOUCH BUTTONS */
.Get-in-touch {
    color: #ffe7bb;
    font-size: 14px;
    background-color: var(--mainColor);
    padding: 15px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.2s;
}

/* HOVER EFFECT FOR GET IN TOUCH BUTTON */
.Get-in-touch:hover {
    transform: translateY(-2px);
    background-color: #ff8a66;
}

/* STYLING THE BUTTON THAT CONTAINS ONE BUTTON AND ON ICON */
.making-elements-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

/* LERAN MORE BUTTON */
.learn-more {
    color: var(--text-color);
    font-size: 14px;
    padding: 18px 10px 18px 32px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    transition: 0.2s;
}

/* RIGHT ARROW BESIDES THE ICON */
.right-arrow {
    font-size: 20px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}

/* HOVER EFFECT FOR BUTTON LEARN MORE AND RIGHT ARROW ICON */
.making-elements-flex:hover,
.learn-more:hover {
    color: var(--hover-color);
}


@media (min-width: 1920px) {
    .get-in-touch-content-home-page {
        width: 50%;
    }

    .description-box-get-in-touch-section-home-page {
        gap: 5px;
    }
}


/* THE MAX WIDTH FOR THIS PAGE IS 1900PX */
@media (max-width: 1920px) {
    .get-in-touch-content-home-page {
        width: 70%;
    }

    .image-box-get-in-touch-content-home-page {
        width: 55%;
    }

    .description-box-get-in-touch-secti on-home-page {
        width: 45%;
    }

    .box-for-buttons {
        margin-top: 5px;
    }

    .description-box-get-in-touch-section-home-page {
        gap: 10px;
    }
}

/* A MAX WIDTH OF 1400PX FOR LARGE SCREENS */
@media (max-width: 1400px) {
    .get-in-touch-content-home-page {
        width: 80%;
    }
}

/* 1200PX MAX WIDTH FOR LARGE SCREEN */
@media (max-width: 1200px) {
    .get-in-touch-content {
        width: 90%;
    }

    .description-title-get-in-touch-section-home-page {
        font-size: 35px;
        line-height: 45px;
    }

}

/* MAX WIDTH 992 PX IS FOR MEDUIM SCREENS */
@media (max-width: 992px) {

    /* after 992px max width the content of the container must */
    /* dislplayed flex direction column */
    .get-in-touch-section-home-page-container {
        flex-direction: column;
    }

    /* making the flex direction column the box of description and image box */
    .get-in-touch-content-home-page {
        width: 70%;
        height: auto;
        flex-direction: column;
        gap: 50px;
    }

    .image-box-get-in-touch-content-home-page {
        width: 100%;
        height: fit-content;
        margin-top: 30px;
    }

    .description-box-get-in-touch-section-home-page {
        width: 100%;
        height: auto;
        gap: 10px;
        padding: 0 5px 0 30px;
    }
}

/* MAX WIDTH 768PX */
@media (max-width: 768px) {
    .get-in-touch-content-home-page {
        width: 80%;
    }
}

/* MAX WIDTH 576PX */
@media (max-width: 576px) {
    .get-in-touch-content-home-page {
        width: 95%;
    }

    .description-box-get-in-touch-section-home-page {
        gap: 20px;
    }

    .btn-padding {
        padding: 13px 12px;
    }
}


@media (max-width: 400px) {
    .get-in-touch-content-home-page {
        width: 100%;
    }

    .box-for-buttons {
        flex-direction: column;
    }
}

/*===========================================================*/
/* RESPONSIVE DESINGING FOR GET IN TOUCH SECTION ENDS HERE */
/*===========================================================*/