/* THE ROOT CSS */
:root {
  --title-color: #FF5722;
  --title-font-size: 48px;
  --buttons-font-size: 14px;
  --black-paragraph-color: #0F0400;
  --gray-paragraph-color: #667085;
  --paragraph-font-size: 16px;
  --small-font-size: 14px;
  --global-transform: translateY(-3px);
  --buttons-bacnkground-Color: #FF5722;
  --icons-color: #FF5722;
  --hover-color: #FF5722;
  --border-orange: #FF5722;
  --border-gray: #CDE2E7;
  --bg-white: #ffffff;
  --buttons-text-color: #0F0400;
  --border-top-at-the-footer: #EFEFEF;
  --container-footer: linear-gradient(180deg, #FFD8B4 0%, #FED9B7 57.29%, #FDD3AE 100%);
  --background-color-hero-section-about-page: linear-gradient(98deg, #E0F7FF 0%, #FFE7BB 100%);
  --padding-to-make-button: 15px 24px;
  --margin-top-and-bottom-for-every-components: 100px 0px;
  --only-margin-top-for-every-components: 100px;
  --only-margin-bottom-for-every-components: 100px;
  --large-font-weight-for-titles: 48px;
  --large-font-weight-for-paragraph: 400px;
  --container-width-1920px-min-width: 50%;
  --container-width-1920px-max-width: 90%;
  --container-width-1400px-max-width: 90%;
  --container-width-992px-max-width: 70%;
  --container-width-768px-max-width: 80%;
  --container-width-576px-max-width: 90%;
  --container-width-400px-max-width: 95%;
  --container-width-300px-max-width: 97%;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--mainBackgroundColr);
  border: 1px solid #FFE7BB;
}

.content-navbar {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: fit-content;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 60px;
}



.button-in-the-navbar {
  /* width: 100px; */
  height: auto;
}

.btn {
  width: 100%;
}

.ul-navbar {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ul-navbar li {
  list-style-type: none;
}


.nav-links {
  color: black;
  padding: 5px 20px;
  text-decoration: none;
}


.nav-links:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}


.btn {
  width: 100%;
  padding: var(--padding-to-make-button);
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--black-paragraph-color);
  cursor: pointer;
  background-color: var(--buttons-bacnkground-Color);
}


.dropdown-menu {
  background: red;
  width: 100px;
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.dropdown-menu li:hover {
  background: var(--hover-color);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

/* @media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
} */


.ul-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
}




.fa-bars {
  color: #000000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .ul-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .ul-navbar.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: -1%;
    right: 5%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000000;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 15px 40px;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}