/* THE ROOT CSS */
:root {
  --title-color: #ff5722;
  --1400px-max-width-title-font-size: 48px;
  --768px-max-width-title-font-size: 38px;
  --576px-max-width-title-font-size: 28px;
  --black-paragraph-color: #000000;
  --gray-paragraph-color: #667085;
  --large-font-size-paragraphs: 16px;
  --small-font-size-paragraphs: 14px;
  --buttons-bacnkground-Color: #ff5722;
  --hover-color: #ff5722;
  --buttons-text-color: #0f0400;
  --buttons-font-size: 14px;
  --global-transform: translateY(-3px);
  --icons-color: #ff5722;
  --border-orange: #ff5722;
  --border-gray: #667085;
  --bg-white: #ffffff;
  --border-top-at-the-footer: #efefef;
  --container-footer: linear-gradient(
    180deg,
    #ffd8b4 0%,
    #fed9b7 57.29%,
    #fdd3ae 100%
  );
  --background-color-hero-section-about-page: linear-gradient(
    98deg,
    #e0f7ff 0%,
    #ffe7bb 100%
  );
  --padding-to-make-button: 8px 24px;
  --margin-top-and-bottom-for-every-components: 100px 0px;
  --only-margin-top-for-every-components: 100px;
  --only-margin-bottom-for-every-components: 100px;
  --container-width-1920px-min-width: 50%;
  --container-width-1920px-max-width: 60%;
  --container-width-1400px-max-width: 85%;
  --container-width-992px-max-width: 70%;
  --container-width-768px-max-width: 80%;
  --container-width-576px-max-width: 90%;
  --container-width-400px-max-width: 95%;
  --container-width-300px-max-width: 100%;
}

.container-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--mainBackgroundColr);
  border: 1px solid #ffe7bb;
}

.content-navbar {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: fit-content;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 110px;
  height: fit-content;
}

.ul-navbar {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.ul-navbar li {
  list-style-type: none;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
}

.nav-links:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
  transition: 0.3s;
}

.button-in-the-navbar {
  width: fit-content;
}

.btn {
  padding: 8px 25px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--black-paragraph-color);
  cursor: pointer;
  background-color: var(--buttons-bacnkground-Color);
}

.dropdown-menu {
  width: fit-content;
  height: auto;
  background: #fff;
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ffe7bb;
  border-radius: 3px;
  color: #000000;
}

.dropdown-menu li:hover {
  background: var(--hover-color);
  border-radius: 3px;
}

.dropdown-menu.clicked {
  display: none;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

/* Responsived in min width 1920px */
@media (min-width: 1920px) {
  .content-navbar {
    width: var(--container-width-1920px-min-width);
  }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
  .content-navbar {
    width: var(--container-width-1920px-max-width);
  }

  .nav-links {
    padding: 5px 18px;
  }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
  .content-navbar {
    width: var(--container-width-1400px-max-width);
  }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
  .content-navbar {
    width: var(--container-width-992px-max-width);
  }
  .NavbarItems {
    position: relative;
  }

  .ul-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    gap: 40px;
  }

  .ul-navbar.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -1%;
    right: 5%;
    transform: translate(-100%, 60%);
    font-size: 30px;
    cursor: pointer;
    color: #000000;
  }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
  .content-navbar {
    width: var(--container-width-768px-max-width);
  }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
  .content-navbar {
    width: var(--container-width-576px-max-width);
  }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
  .content-navbar {
    width: var(--container-width-400px-max-width);
  }
}
