/* THE ROOT CSS */
:root {
    --mainBackgroundColr: #ffffff;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --Get-in-touch-text-color: #ffe7bb;
}

/* STYLING THE CONTAINER DIV */
.container-hero-section-home-page {
    width: 100%;
    height: auto;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* STYLING THE CONTENT BOX IN CONTAINER */
.container-content-home-page {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* STYLING THE BOX DESCRIPTION THAT CONTAINS TITLE, PARAGRAPH AND BUTTONS */
.description-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 53px;
}

/* TITLE OF THE SECTION */
.title-of-the-section {
    color: var(--mainColor);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 18px;
}

/* PARAGRAPH OF THE SECTION BELOW THE TITLE */
.paragraph-of-the-section {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* STYLING THE DIV FOR TWO BUTTONS IN THE SECTION  */
.box-for-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* GET IN TOUCH BUTTONS */
.Get-in-touch {
    color: var(--Get-in-touch-text-color);
    font-size: 14px;
    background-color: var(--mainColor);
    padding: 15px 24px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.2s;
}

/* HOVER EFFECT FOR GET IN TOUCH BUTTON */
.Get-in-touch:hover {
    transform: translateY(-2px);
}

/* STYLING THE BUTTON THAT CONTAINS ONE BUTTON AND ON ICON */
.making-elements-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

/* LERAN MORE BUTTON */
.learn-more {
    color: var(--text-color);
    font-size: 14px;
    padding: 18px 10px 18px 32px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.45px;
    transition: 0.2s;
}

/* RIGHT ARROW BESIDES THE ICON */
.right-arrow {
    font-size: 20px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}

/* HOVER EFFECT FOR BUTTON LEARN MORE AND RIGHT ARROW ICON */
.making-elements-flex:hover,
.learn-more:hover {
    color: var(--hover-color);
}

/* STYLING THE IMAGE BOX THAT CONTAINS THE IMAGE OF THE SECTION  */
.image-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 105px;
}

/* THE IMAGE OF THE SECTION */
.image-of-the-hero-section {
    width: 330px;
    height: 400px;
}

/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .container-content-home-page {
        width: 50%;
    }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
    .container-content-home-page {
        width: 70%;
    }
}

/* Responsived in max width 1400px */
@media (max-width: 1400px) {
    .container-content-home-page {
        width: 80%;
    }
}

/* Responsived in max width 1200px */
@media (max-width: 1200px) {
    .container-content-home-page {
        width: 90%;
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .container-content-home-page {
        width: 95%;
    }

    .title-of-the-section {
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }

    .paragraph-of-the-section {
        font-size: 14px;
    }

    .Get-in-touch {
        font-size: 14px;
        padding: 15px 20px;
    }

    .image-box {
        justify-content: center;
    }

    .image-of-the-hero-section {
        width: 300px;
        height: 370px;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {

    .container-hero-section-home-page {
        width: 100%;
        padding: 15px 0px;
    }

    .container-content-home-page {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .image-box {
        width: 100%;
        justify-content: center;
    }

    .image-of-the-hero-section {
        width: 300px;
        height: 380px;
        order: 2;
    }

    .description-box {
        width: 100%;
        order: 1;
    }
}

/* Responsived in max width 567px */
@media (max-width: 576px) {
    .container-content-home-page {
        width: 90%;
    }

    .image-of-the-hero-section {
        width: 275px;
        height: 345px;
    }
}

/* Responsived in max width 400px */
@media (max-width: 400px) {
    .title-of-the-section {
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
    }

    .Get-in-touch {
        font-size: 14px;
        padding: 10px 6px;
    }

    .learn-more {
        padding: 10px 6px 10px 10px;
    }

    .image-of-the-hero-section {
        width: 200px;
        height: 250px;
    }

    .box-for-buttons {
        flex-direction: column;
    }

    .learn-more {
        padding: 18px 10px 18px 10px;
    }
}