/* THE ROOT CSS */
:root {
    --mainBackgroundColr: #F1F3FD;
    ;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --devider-color: #C6C6C6;
    --client-title-color: #0f040099;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}


.container-slider-section-home-page {
    width: 100%;
    height: 120vh;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackgroundColr);
    overflow: hidden !important;
}

.content-slider-section-home-page {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discription-box-slider-home-page {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.title-slider-box-home-page {
    color: var(--mainColor);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

.custom-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sliding-boxes-slider-home-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;

}

.first-slider-box {
    width: 800px !important;
    height: 440px;
    flex-shrink: 0;
    border-radius: 54px;
    background: #FFF;
    box-shadow: 1px 1px 45px 5px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-content-for-slider {
    width: 250px;
    height: 440px;
    border-top-left-radius: 54px;
    border-bottom-left-radius: 54px;
}


.content-slider {
    width: 69%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 45px;
    border-top-right-radius: 54px;
    border-bottom-right-radius: 54px;
}

.logo-slider {
    width: 400px;
    height: 50px;
}

.title-slider {
    color: var(--mainColor);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.paragraph-slider {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.sub-content-slider-box {
    width: 470px;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C6C6C6;
}

.customer-info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.client-title {
    color: var(--client-title-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.client-paragraph {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}