/* THE ROOT CSS */
:root {
    --mainBackgroundColr: #F1F3FD;
    ;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --devider-color: #C6C6C6;
}


.container-slider-section-home-page {
    width: 100%;
    height: 100vh;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBackgroundColr);
}

.content-slider-section-home-page {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discription-box-slider-home-page {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid green;
}



.title-slider-box-home-page {
    color: var(--mainColor);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

.sliding-boxes-slider-home-page {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.first-slider-box {
    border: 2px solid red;
    width: 200px !important;
    height: 340px;
    flex-shrink: 0;
    border-radius: 54px;
    background: #FFF;
    box-shadow: 1px 1px 45px 5px rgba(0, 0, 0, 0.12);
}