:root {
    --mainBackgroundColr: #F1F3FD;
    --mainColor: #FF5722;
    --text-color: #071920;
    --hover-color: #FF5722;
    --devider-color: #C6C6C6;
    --client-title-color: #0f040099;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}


.carousel {
    padding: 50px 0px;
    height: auto;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}


.make-a-box {
    width: 720px !important;
    height: 450px;
    border-radius: 54px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 1px 1px 45px 5px rgba(0, 0, 0, 0.12);
    margin: 50px;
    transition: 0.3s;
}

.make-a-box:hover {
    box-shadow: 1px 1px 45px 5px rgba(0, 0, 0, 0.12);
}



.slick-slide {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.image-box {
    width: 298px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 54px;
    display: grid;
}

.image {
    width: 100%;
    height: 440px;
    border-radius: 54px;
}

.content-box {
    width: 422px !important;
    height: 440px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.logo {
    width: 87px;
    height: 34px;
}

.title {
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

.paragraph {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 20px 0px 0px;
}

.line-gray {
    width: 100%;
    height: 0.7px;
    background: #C6C6C6;
    margin-top: 20px;
}

.client-and-budge {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.clientName,
.budge {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title-clientName,
.title-budge {
    color: rgba(15, 4, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.description-clientName,
.description-budge {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.button-content {
    width: 52px;
    height: 52px;
}



.slick-dots {
    width: 300px !important;
    height: 5px !important;
    position: relative !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}


.slick-dots li {
    position: relative;
    display: inline-block;
    width: 100% !important;
    height: 3px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    height: 3px;
    padding: 14px;
    cursor: pointer;
    border: 0;
    outline: none;
}

.slick-dots li button:before {
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: ' ';
    text-align: center;
    opacity: .25;
    background-color: black;
    border-radius: 5px;
}

.slick-dots li button:first-child,
.slick-dots li button:last-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}



/* Responsived in min width 1920px */
@media (min-width: 1920px) {
    .carousel {
        height: 65vh;
    }

    .make-a-box {
        width: 90% !important;
    }

    .content-box {
        width: 100% !important;
    }

    .slick-dots {
        position: relative !important;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Responsived in max width 1920px */
@media (max-width: 1920px) {
    .carousel {
        height: 100vh;
    }

    .slick-dots {
        position: relative !important;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Responsived in max width 992px */
@media (max-width: 992px) {
    .carousel {
        justify-content: center !important;
    }

    .make-a-box {
        width: 95% !important;
    }

    .content-box {
        width: 90% !important;
    }
}

/* Responsived in max width 768px */
@media (max-width: 768px) {
    .carousel {
        height: auto;
    }



    .make-a-box {
        width: 90% !important;
        height: 100vh;
        flex-direction: column !important;
        justify-content: space-between;
        align-items: center;
    }

    .image-box {
        width: 100%;
        height: 61vh;
        flex-shrink: 0;
        border-radius: 54px;
        display: grid;
        border-top-right-radius: 54px;
        border-top-left-radius: 54px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .image {
        width: 100%;
        height: 60vh;
        border-top-right-radius: 54px;
        border-top-left-radius: 54px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .content-box {
        width: 100% !important;
        height: 440px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    }

    .slick-dots {
        width: 200px !important;
    }

}

/* Responsived in max width 567px */
@media (max-width: 576px) {}

/* Responsived in max width 400px */
@media (max-width: 400px) {}